/*The code box sizing may be the code that defines the shape of the dropdown bar that is going to be made to display the labs done.*/
*{
  box-sizing: border-box;
}
/*The background color is the code that colors the background of the document while the color code affects the color of the contents of the HTML tags.*/
body{
  background-color: lightgoldenrodyellow;
  color: green;
}
/*Style of the header*/
.header{
  background-color:azure ;
  padding: 20px;
  text-align: center;
  color: rgb(238, 183, 81);
}
.backgroundwhitestyling{
  background-color:azure ;
  padding: 20px;
  text-align: center;
}
.topnav{
  background-color: rgb(122, 238, 122);
  overflow: hidden;
}
.topnav a{
  color: black;
  float: left;
  display: block;
text-align: center;
padding: 10px 10px;
}
.topnav a:hover{
  background-color: white;
  color: red;
}
.column{
  background-image: url("source.png");
  float: left;
  padding:15px;
  width:33.33%;
  color:White;
}
.lab9text{
  background-color:black;
  border:4px dotted yellow;
}
.styled{
  background-color:azure ;
  padding: 20px;
  text-align: center;
  font-weight:bold;
  color: green;
}




input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight:bold;
  text-decoration:underline;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color:azure;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
#navlist {
  position: relative;
}

#navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 0;
}

#navlist li, #navlist a {
  height: 40px;
  display: inline-block;
}

#home {
  left: 60px;
  width: 43px;
  background: url('img_houseicon.jpg') 0 0;
}
li#home img{
  width:100px;
  border:solid 3px rgb(238, 183, 81);
}
li#home img:hover{
border:solid 3px Maroon;
}
#prev {
  left: 0px;
  width: 43px;
  top:100px;
  background: url('img_leftarrow.jpg') -47px 0;
}
li#prev img{
  width:100px;
  border:solid 3px rgb(238, 183, 81);
}
li#prev img:hover{
border:solid 3px Maroon;
}
#next {
  left: 120px;
  width: 43px;
  background: url('img_rightarrow.jpg') -91px 0;
}
li#next img{
  width:100px;
  border:solid 3px rgb(238, 183, 81);
}
li#next img:hover{
border:solid 3px Maroon;
}