/*The code box sizing may be the code that defines the shape of the dropdown bar that is going to be made to display the labs done.*/
*{
  box-sizing: border-box;
}
/*The background color is the code that colors the background of the document while the color code affects the color of the contents of the HTML tags.*/
body{
  background-color: lightgoldenrodyellow;
  color: green;
}
/*Style of the header*/
.header{
  background-color:azure ;
  padding: 20px;
  text-align: center;
  color: rgb(238, 183, 81);
}
.backgroundwhitestyling{
  background-color:azure ;
  padding: 20px;
  text-align: center;
}
.topnav{
  background-color: rgb(122, 238, 122);
  overflow: hidden;
}
.topnav a{
  color: black;
  float: left;
  display: block;
text-align: center;
padding: 10px 10px;
}
.topnav a:hover{
  background-color: white;
  color: red;
}
.column{
  background-image: url("source.png");
  float: left;
  padding:15px;
  width:33.33%;
  color:White;
}
.lab9text{
  background-color:black;
  border:4px dotted yellow;
}
.styled{
  background-color:azure ;
  padding: 20px;
  text-align: center;
  font-weight:bold;
  color: green;
}
#ForcedEssay{
  width:33.33%;
}